{% extends "movie/base.html" %}
{% block bodyblock %}
    <h1>영화가 좋다</h1>
    <a href="/movies/new">영화 정보 생성</a>
    {% for movie in movies %}
    
    <a href="/movies/{{movie.id}}/"><h2>{{movie.title}}</h2></a>
    <h3>{{movie.title_en}}</h3>
    <!--<p>{{movie.audience}}</p>-->
    <!--<p>{{movie.open_date}}</p>-->
    <!--<p>{{movie.genre}}</p>-->
    <!--<p>{{movie.watch_grade}}</p>-->
    <p>{{movie.score}}</p>
    <!--<p>{{movie.poster_url}}</p>-->
    <!--<p>{{movie.description}}</p>-->
    {% endfor %}
{% endblock %}